BasedOnStyle: Microsoft
AccessModifierOffset: -4
ColumnLimit: 400
BreakConstructorInitializers: BeforeComma
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left

BinPackArguments: false
BinPackParameters: false
Cpp11BracedListStyle: true
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
SortIncludes: false
